[data-testid="stApp"] {
    background-color: "#268bd2";
    color: "#b58900";
    font-family: "Consolas", "Courier New", monospace;
    font-size: 20px;
    border: 20px #dc322f solid !important;
    border-radius: 10px;
}

[data-testid="stMain"] {
    background-color: "#268bd2";
    color: "#b58900";
    font-family: "Consolas", "Courier New", monospace;
    font-size: 20px;
    border: 20px #dc322f solid !important;
    border-radius: 10px;
}

[data-testid="stSidebar"] {
    background-color: "#268bd2";
    color: "#b58900";
    font-family: "Consolas", "Courier New", monospace;
    font-size: 20px;
    border: 20px #dc322f solid !important;
    border-radius: 10px;
}